<div class="login-container">
    <div class="login-card card">
        <h1>{{ action === 'signin' ? 'Sign In' : 'Sign Up' }}</h1>

        <div class="tabs">
            <button [class.active]="action === 'signin'" (click)="setAction('signin')">Sign In</button>
            <button [class.active]="action === 'signup'" (click)="setAction('signup')">Sign Up</button>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="field form-floating mb-3">
                <label for="email" aria-placeholder="example@example.com"></label>
                <input id="email" type="email" formControlName="email" placeholder="example@example.com">
            </div>

            <div class="field form-floating mb-3">
                <label for="email" aria-placeholder="example@example.com">Email</label>
                <input id="email" type="email" formControlName="email" placeholder="example@example.com">
            </div>

            @if (action == 'signup') {
                <div class="field form-floating mb-3">
                    <label for="passwordConfirmation">Password</label>
                    <input id="passwordConfirmation" type="password" placeholder="password">
                </div>
            }
            <button type="submit">
                {{ action === 'signin ? Sign In : Sign Up' }}
            </button>
        </form>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            @for (toast of toasts; track toast.message) {
                <div class="toast show align-items-center text-bg-{{ toast.type }} border-0 mb-2">
                <div class="d-flex">
                    <div class="toast-body">{{ toast.message }}</div>
                </div>
                </div>
            }
        </div>
    </div>
</div>